body {
    background: linear-gradient(90deg, rgba(20,79,91,1) 0%, rgba(205,218,171,1) 57%, rgba(64,153,128,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    border: 1px solid #ccc;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    height: 30px; /* Adjust the height of the text boxes */
}

/* Style the "Sign In" button to be full-width */
.btn-primary {
    width: 100%;
}

/* Style the "Continue with Google" button to be full-width */
.btn-danger {
    width: 100%;
}

/* Center the "Forget Password?" link */
.mt-3 {
    text-align: center;
}

/* Center the "Don't have an account?" text */
.mt-4 {
    text-align: center;
}
