{% extends "new_base.html" %}

{% block content %}
    <div class="container text-info"><h1>CASH CALLS</h1></div>
    <br>
    {% for doc in documents %}
        <div class="document">
            <p class="font"><strong></strong>{{ doc["Symbol"] }}</p>
            <p class="right-aligned"><strong>Signal: </strong>{{ doc["Signal"] }},</p>
            <p class="right-aligned"><strong>Rate: </strong>{{ doc["Rate"] }},</p>
            <p class="right-aligned"><strong>Target: </strong>{{ doc["Target"] }},</p>
            <p class="right-aligned"><strong>Quantity: </strong>{{ doc["Quantity"] }}(1Lakh),</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}


